version: '3.8'

services:
  lsp-mpi:
    build:
      context: .
      args:
        PUBLIC_API_BASE_URL: ${PUBLIC_API_BASE_URL}
    ports:
      - "3003:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped 
